<ul class="mb-0 ps-3">
    <li>Data yang digunakan adalah data historis volume produksi padi (ton) di {{ research.lokasi }}.</li>
    <li>Metode yang digunakan hanya SSA dengan tahapan embedding, SVD, grouping, dan rekonstruksi.</li>
    <li>Peramalan tidak mempertimbangkan faktor eksternal seperti cuaca ekstrem, kebijakan pemerintah, atau fluktuasi
        harga pasar.</li>
    <li>Hasil penelitian berlaku khusus untuk Pabrik KP. Putra Yusima dan belum tentu dapat digeneralisasi untuk pabrik
        atau wilayah lain.</li>
</ul>
